<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>HEATMAP</title>
  </head>

  <body class="container-fluid">
    <center class="row">
      <h1>implementation of <b>plotlyJS</b> using <b>django</b></h1>
    </center>
    <hr />
    <div>
      <div id="modelpredict"></div>
    </div>

    <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>

    <script>
      var endpoint = "/modelriverapi";

      $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
          drawmodelpredict(data, "modelpredict");
          //console.log("drawing");
        },
        error: function (error_data) {
          //console.log(error_data);
        },
      });

      function drawmodelpredict(data, id) {
        var trace1 = data.trace1;
        var trace2 = data.trace2;

        var data = [trace1, trace2];

        var layout = {
          width: 1200,
          height: 500,
        };

        Plotly.newPlot(modelpredict, data, layout);
      }
    </script>
  </body>
</html>
