.bruhRow-half {
  text-align: center;
  height: 50vh;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0;
  gap: 0;
  overflow: hidden;
  box-shadow: 1px 5px 15px black;
  border-radius: 5px;
}
.bruhRow-half:nth-child(even) {
  flex-direction: row-reverse;
}

.prevent-title-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 1px 5px 15px black; */
  /* border-radius: 5px; */
}

.bruhRow-half h1 {
  background-color: rgba(0, 0, 0, 0.555);
  padding: 1rem;
  color: white;
  border-radius: 20px;
}
.bruhRow-half:nth-child(1) > .prevent-title-container {
  background: url(../assets/leakytap.jpg);
  background-size: cover;
}
.bruhRow-half:nth-child(2) > .prevent-title-container {
  background: url(../assets/pourdrain.jpg);
  background-size: cover;
}
.bruhRow-half:nth-child(4) > .prevent-title-container {
  background: url(../assets/plants.jpg);
  background-size: cover;
}
.bruhRow-half:nth-child(5) > .prevent-title-container {
  background: url(../assets/beach.jpg) no-repeat;
  /* background-position: -100px; */
  background-size: cover;
}
.prevent-text-container {
  height: 100%;
  padding: 0;
}
.prevent-text {
  font-size: 1.5rem;
  text-align: start;
  background-color: #1e3263d2;
  padding: 2rem;
  /* border-radius: 5px; */
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevent-vid-container {
  margin: 4rem 2rem;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.prevent-vid-container h1 {
  text-align: center;
  background-color: #1e3163;
  padding: 1rem;
  color: rgb(183, 225, 240);
  border-radius: 20px;
}
.prevent-vid-container iframe {
  height: 80%;
}

@media (max-width: 768px) {
  .bruhRow-half {
    height: 100vh;
    flex-direction: column;
  }
  .prevent-title-container {
    height: 50%;
  }
  .prevent-text-container {
    height: 50%;
  }
  .prevent-text {
    padding: 2rem;
    text-align: center;
  }
  .prevent-vid-container {
    height: 50vh;
  }
}
